* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Playfair Display';
}

/*Header Section*/

.header {
    min-height: 80vh;
    width: 100%;
    background-image: url(./design-assets/bgk-header.png);
    background-position: center;
    background-size: cover;

}

.container {
    max-width: 1200px;
    margin:auto;
    border: 1px solid red;
 
   

}

.wrapper {
 display: flex;
 justify-content: space-between;
 
  
    
}

.logo {
    display: flex;

}

.logo img {
    width: 35px;
    height: 35px;


}

.logo h2 {
    color: white;
    margin-left: 10px;
    font-size: 30px;
    margin-top: 2px;

}

.navbar {

    margin-top: 5px;

}

.navbar ul {
    margin-top: 5px;
}


.navbar ul li {
    display: inline-block;
    margin-left: 20px;



}

.navbar ul li a {
    text-decoration: none;
    color: rgba(42, 213, 236, 0.849);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 200;
}

.content {

    text-align: center;
    margin-top: 220px;


}

.content h2 {
    font-family: 'Playfair Display';
    color: white;
    letter-spacing: 0.5px;
    font-size: 45px;
    font-weight: 300;
}

.content p {
    margin-top: 50px;
    color: white;
    font-size: 14px;
    line-height: 1.5;
}

button {
    color: rgba(42, 213, 236, 0.849);
    border: 2px solid rgba(42, 213, 236, 0.849);
    margin: 80px auto;
    padding: 20px;
    border-radius: 2px;
    background: transparent;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

}

.line {
    border: 0.5px solid rgba(42, 213, 236, 0.849);
    width: 5%;
    margin: 15px auto;
    text-transform: uppercase;
}

/* Story Section*/

.story_section {
    background-color: white;
    min-height: 50vh;
    width: 100%;
   

}

.story_container {
    display: flex;
    margin: 50px auto;
    
    margin: 80px auto;
    width: 55%;
}

.story_para {
    margin-left: 150px;
    width: 80%;




}

.story_para h1 {
    text-transform: uppercase;
    font-weight: 300;

}

.story_para p {
    margin-top: 20px;
    color: gray;

}


/*Watch Story*/

.watch_story {
    background-image: url(./design-assets/bgk-middle.png);
    height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.play {

    margin-bottom: 70px;
    text-align: center;


}

.watch_container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.watch_container h3 {
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
}


/* Expertise*/

.expertise {

   
    width: 100%;   
    

}

.expertise_container {

    margin: 60px auto;
    width: 50%;

}

.expertise_head {
    text-align: center;

}

.expertise_head h1 {
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.4;
}

table {}

table,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 60px;



}

td {
    text-align: center;

}

td h2 {
    font-weight: 200;
    line-height: 1;
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 25px;
}

td p {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;

}

td img {
    margin-top: 30px;
}



/*team section*/

.team_section {
    
    width: 100%;
    background-image: url(./design-assets/bgk-header.png);
    background-position: center;
    background-size: cover;
   
}

.team_container {
    max-width: 1000px;
    margin:auto;
  
 

}

.team_container p {
    color: white;
    text-align: center;
    margin-top: 50px;

}

.team_head {
    text-align: center;
   
}

.team_head h1 {
    color: white;
    font-weight: 300;

}

.team_head p {
    color: white;
    margin-top: 5px;

}


.box_1,
.box_2,
.box_3,
.box_4 {
    color: white;
    width: 250px;
    height: 50px;
    border: 0.5px solid white;
    margin-left: 20px;
    text-align: center;
    padding-top: 10px;


}

.box_container1 {

    display: flex;
    justify-content: spa;
    align-items: center;


}

.box_5,
.box_6,
.box_7,
.box_8 {
    background-color: white;
    width: 250px;
    height: 250px;
    margin-left: 20px;

}

.container_2 {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;



}

.hire_button {
    margin-left: 430px;
    margin-top: 20px;


}

